@import "tailwindcss";

 @plugin "daisyui" {
   themes: light --default;
 }

 @plugin "daisyui/theme" {
  name: "Oxionix_theme";
  default: true;

  --color-primary: #138ff7;
  --color-secondary: #454847;
  --color-accent: #606060;
   --color-base-content: #000000;

}